*.mat
*.tif
*.nc
*.pptx
*.DS_Store
*.pyc
*.pt
*.pth
*.npz
*.pkl
*.yml
!/data/NGrIS/ensemble_data_pixelated/*.mat
/data/NGrIS/ensemble_data_pixelated/enthalpy_avg_grid.mat
/data/NGrIS/ensemble_data_pixelated/Eb_samples/
/data/NGrIS/ensemble_data_pixelated/Em_samples/
/testing/normflows_examples/datasets